.container {
  max-width: 1000px; 
  margin: 0px auto; 
  padding: 80px 30px;
  background-color: #ffffff; 
  display: flex;
  flex-direction: column;
  gap: 80px;

  @media (min-width: 768px) {
    padding: 60px 30px;
  }
}

.topInfo {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.link {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  color: #73bfb8;
}

.blogPost {
  padding: 20px;
  border: solid 1px #f6f6f6;

  @media (min-width: 768px) {
    padding: 40px 100px;
  }
}

.blogDetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.blogDetailsLeft {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* margin-bottom: 40px; */
}

.blogDetailsLeft span, .updated {
  font-size: 14px;
}

.editButton {
  background-color: #73bfb8;
  color: white;
  border: solid 1px #ccc;
  font-size: 14px;
  padding: 4px 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.editButton:hover {
  color: #73bfb8;
  background-color: white;
}

.shareButtonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.shareButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.title {
  font-size: 2.5rem; 
  margin-bottom: 10px; 
  font-family: "Arapey", serif;
}

.introText {
  font-size: 18px; 
  line-height: 24px;
  padding: 20px 0px; 
}

.introImage {
  width: 100%; 
  height: auto; 
  /* border-radius: 8px;  */
  margin-top: 40px;
  margin-bottom: 15px;
}

.introImageCaption {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

.subsection {
  margin-top: 30px; 
}

.subsectionHeader {
  font-size: 22px;
  font-weight: 500; 
  margin: 20px 0; 
  color: #333; 
}

.contentText {
  font-size: 16px; 
  line-height: 1.6; 
  margin-bottom: 10px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subsectionImages {
  display: grid;               
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-items: center;
}

.subsectionImage {
  width: 100%;                 
  max-width: 250px;
  height: auto;
  border-radius: 8px;
}

.subsectionImages.two-images {
  grid-template-columns: repeat(2, 1fr);
}

.subsectionImages.two-images .subsectionImage {
  flex: 1 1 calc(50% - 10px);
}

.subsectionImages.three-images {
  grid-template-columns: repeat(3, 1fr); 
}

.subsectionImages.three-images .subsectionImage {
  flex: 1 1 calc(50% - 10px); 
  position: relative;         
}

.subsectionImages.three-images .subsectionImage:nth-child(3) {
  flex-basis: 100%;      
}

.imageCaption {
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  font-style: italic;
}

.contentList {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media (max-width: 767px) {
    margin-left: -10px;
  }
}

.nestedContentList {
  list-style-type: circle; 
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media (max-width: 767px) {
    margin-left: -5px;
  }
}

.nestedListItem {

}

.nestedNestedContentList {
  list-style-type: square; 
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
  margin-top: 5px;
}

.nestedNestedListItem {
  font-size: 14px;
}

.contentBlocks {
  margin-top: 20px;
}

.contentBlock {
  margin-bottom: 20px;
}

.contentSubheader {
  font-size: 20px; 
  margin: 10px 0; 
  color: #333;
  font-weight: 500;
}

.navigator {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #ccc;
  padding: 10px;
}

.navigatorHeader {
  /* font-style: italic; */
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}

.navigationButtons {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
}

.navigationButton {
  font-size: 14px;
  padding: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.navigationButton:hover {
  color: #73bfb8;
}

.bullet {
  margin: 0 5px; 
}

.blogBottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px #CCCCCC;
  padding: 10px;
}

.commentSection {
  padding: 20px;
  border: solid 1px #f6f6f6;

  @media (min-width: 768px) {
    padding: 40px 100px;
  }
}

.commentHeader {
  font-weight: 600;
  margin-bottom: 30px;
  border-bottom: solid 1px #CCCCCC;
  padding-bottom: 10px;
}

.commentInputsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commentInput {
  resize: vertical;
  padding: 10px;
  width: 100% !important;
  min-height: 80px;
}

.commentInput::placeholder {
  font-family: "Montserrat", sans-serif;
}

.nameInput {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  width: 200px;
}

.commentbuttonsContainer {
  display: flex;
  justify-self: flex-end;
  flex-direction: row;
  gap: 10px;
}

.commentClearButton {
  color: #73bfb8;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}

.commentClearButton:hover {
  opacity: 0.5;
}

.commentSubmitButton {
  background-color: #73bfb8;
  border: none;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.commentSubmitButton:hover {
  opacity: 0.8;
}

.disabled {
  background-color: #CCCCCC;
}

.commentsContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  padding-bottom: 20px;
}

.comment:not(:last-child) {
  border-bottom: solid 1px #CCCCCC;
}

.commentContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  font-size: 24px;
}

.commentInfo {
  display: flex;
  flex-direction: column;
}

.commenter {
  font-size: 18px;
}

.commentDate {
  font-size: 14px;
}

.deleteCommentButton {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.deleteCommentButton:hover {
  opacity: 0.5;
}