.container {
  /* padding: 40px; */
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
}

.fileContainer {
  width: 50%;
}

.file {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: white;
  background-color: inherit;
  border: none;
  cursor: pointer;
  align-items: center;
  /* position: relative; */
  width: 100%;
}

.fileIcon {
  font-size: 20px;
  margin-top: 4px;
}

.fileName {
  font-size: 16px;
  font-family: "Consolas" , "monaco" , "monospace"; 
  cursor: pointer !important;
  outline: none;
  user-select: none;
}

.fileName:focus {
  outline: none;
}

.fileSelected {
  color: #E18EEC;
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.subFileContainer {
  border-left: 1px solid white;
  margin: 2px 15px;
}

.subFile {
  padding-left: 5px;
  /* position: relative */
}

.horizontalLine {

  @media (min-width: 768px) {
    width: 0;
    height: 0;
    border: 1px solid #E18EEC;
    margin: 3px;
    display: inline-block;
    animation: expandLine 1s forwards; /* Add animation here */
  }
}

/* Define the keyframes for the animation */
@keyframes expandLine {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


.selectedFileContainer {
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding-left: 20px;
  position: relative;
}

.header {
  color: white;
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 30px;
  
  @media (min-width: 768px) and (max-width: 1023px) {
  
  }
  
  @media (min-width: 1024px) {
    font-size: 30px;
  }
}

.contentContainer, .contentContainer2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentContainer2 {
  padding-left: 20px;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  /* gap: 8px; */
}

.section2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.companyName {
  font-weight: 700;
}

.subHeader, .subHeaderWithCircle {
  color: #E18EEC;
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Consolas" , "monaco" , "monospace"; 
  font-weight: 600;
  font-size: 17px;
  /* padding-left: 20px; */
  position: relative;
  
  @media (min-width: 768px) and (max-width: 1023px) {
  
  }
  
  @media (min-width: 1024px) {
    /* font-size: 16px; */
  }
}

.contentContainer2 {
  position: relative;
  padding-left: 30px; /* Adjust for line space */
  border-left: 2px solid #E18EEC;
}

.subHeaderWithCircle::before {
  content: "";
  position: absolute;
  left: -36px; /* Adjust based on layout */
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #E18EEC;
}

.contentBox {
  color: #E6E6E5;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Consolas" , "monaco" , "monospace"; 
}

.contentLine {
  margin-left: 8px;
}

.descriptionList {
  list-style-type: disc; 
  margin: 0px 0 0 30px; 
  padding: 0;
}

.descriptionItem {
  margin: 5px 0; 
  font-style: italic; 
}

.image {
  width: 60%;
  height: auto;
  border-radius: 10px;
}

.downloadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 800px;
}

.downloadButton {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.downloadButton:hover {
  background-color: #0056b3;
}

.downloadIcon {
  margin-right: 8px;
}

.jsonContent {
  white-space: pre-wrap; /* Preserves whitespace and formatting */
  font-family: "Consolas" , "monaco" , "monospace"; 
  color: #E6E6E5;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto; /* Allows horizontal scrolling if needed */
}

.modalContainer {
  width: 100vw;
  height: 100vh;
}