.photoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px; 
  padding: 50px; 
  margin-top: 200px; 
  width: 80%; 
  max-width: 1000px; /* Optional: set a max width for the grid container */
  margin-left: auto; /* Center the grid */
  margin-right: auto; /* Center the grid */
}

.photosContainer {
  margin-top: 250px; 
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: relative;
  padding: 50px 20px; 

  @media (min-width: 768px) and (max-width: 1023px) {
    margin-top: 200px; 
  }
}

.photoItem {
  position: relative; 
  overflow: hidden; 
}

.photoImage {
  width: 100%; 
  height: auto; 
  max-width: 400px; /* Set max width for the images */
  margin: 0 auto; /* Center the images */
}

.photoButton {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  padding: 10px 30px; 
  background-color: #73bfb8; 
  color: white; 
  border: none; 
  border-radius: 8px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  font-size: 20px;
}

.photoButton:hover {
  background-color: #3da5d9; 
}

/* Responsive Styles */
@media (max-width: 768px) {
  .photoGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
}

@media (max-width: 480px) {
  .photoGrid {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}

.customNextArrow,
.customPrevArrow {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  z-index: 1; 
  cursor: pointer; 
  font-size: 50px;
  color: #73bfb8 !important;
}

.customNextArrow:before, .customPrevArrow:before {
  content: "";
}

.customNextArrow {
  right: -50px; 
}

.customPrevArrow {
  left: -50px; 
}

