.circlesWrapper {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 250px; 
  margin-bottom: 20px;
  margin-left: 50px;
  z-index: 1000;
}

.circlesContainer {
  position: relative;
  width: 200px; 
  height: 200px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle1, .circle2 {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #5bcca858;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1; 
}

.circle1 {
  width: 200px;
  height: 200px;
}

.circle2 {
  width: 100px;
  height: 100px;
}

.logo1, .logo2 {
  z-index: 2;
}

/* Rotating logos on circle 1 */
.logo1_1 { 
  animation: rotate1_1 20s infinite linear;
}

.logo1_2 { 
  animation: rotate1_2 20s infinite linear;
}

.logo1_3 { 
  animation: rotate1_3 20s infinite linear;
}

.logo1_4 { 
  animation: rotate1_4 20s infinite linear;
}

.logo1_5 { 
  animation: rotate1_5 20s infinite linear;
}

.logo1_6 { 
  animation: rotate1_6 20s infinite linear;
}

/* Rotating logos on circle 2 */
.logo2_1 { 
  animation: rotate2_1 10s infinite linear;
}

.logo2_2 { 
  animation: rotate2_2 10s infinite linear;
}

.logo2_3 { 
  animation: rotate2_3 10s infinite linear;
}

.logo2_4 { 
  animation: rotate2_4 10s infinite linear;
}

/* Keyframes for circle 1 logos */
@keyframes rotate1_1 { 
  0% { 
    transform: rotate(0deg) translateX(100px) rotate(0deg); 
  } 
  100% { 
    transform: rotate(-360deg) translateX(100px) rotate(360deg); 
  } 
}

@keyframes rotate1_2 { 
  0% { 
    transform: rotate(-60deg) translateX(100px) rotate(60deg); 
  } 
  100% { 
    transform: rotate(-420deg) translateX(100px) rotate(420deg); 
  } 
}

@keyframes rotate1_3 { 
  0% { 
    transform: rotate(-120deg) translateX(100px) rotate(120deg); 
  } 
  100% { 
    transform: rotate(-480deg) translateX(100px) rotate(480deg); 
  } 
}

@keyframes rotate1_4 { 
  0% { 
    transform: rotate(-180deg) translateX(100px) rotate(180deg); 
  } 
  100% { 
    transform: rotate(-540deg) translateX(100px) rotate(540deg); 
  } 
}

@keyframes rotate1_5 { 
  0% { 
    transform: rotate(-240deg) translateX(100px) rotate(240deg); 
  } 
  100% { 
    transform: rotate(-600deg) translateX(100px) rotate(600deg); 
  } 
}

@keyframes rotate1_6 { 
  0% { 
    transform: rotate(-300deg) translateX(100px) rotate(300deg); 
  } 
  100% { 
    transform: rotate(-660deg) translateX(100px) rotate(660deg); 
  } 
}

/* Keyframes for circle 2 logos */
@keyframes rotate2_1 { 
  0% { 
    transform: rotate(0deg) translateX(50px) rotate(0deg); 
  } 
  100% { 
    transform: rotate(-360deg) translateX(50px) rotate(360deg); 
  } 
}

@keyframes rotate2_2 { 
  0% { 
    transform: rotate(-90deg) translateX(50px) rotate(90deg); 
  } 
  100% { 
    transform: rotate(-450deg) translateX(50px) rotate(450deg); 
  } 
}

@keyframes rotate2_3 { 
  0% { 
    transform: rotate(-180deg) translateX(50px) rotate(180deg); 
  } 
  100% { 
    transform: rotate(-540deg) translateX(50px) rotate(540deg); 
  } 
}

@keyframes rotate2_4 { 
  0% { 
    transform: rotate(-270deg) translateX(50px) rotate(270deg); 
  } 
  100% { 
    transform: rotate(-630deg) translateX(50px) rotate(630deg); 
  } 
}
