.darkPage, .lightPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 100;
}

.darkPage {
  background-color: #0F172A;
}

.lightPage {
  background-color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  padding: 0 40px;
  /* gap: 40px; */
  z-index: -100;
  background: none;
  background-color: transparent;
  gap: 10px;
}

.link, .linkDark {
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  cursor: pointer !important;
}

.link {
  color: white;
}

.linkDark {
  color: #0F172A;
}

.link:hover, .linkDark:hover {
  color: #E18EEC;
}

.arrowDark, .arrowLight {
  font-size: 25px;
  display: flex;
  align-items: bottom;
}

.arrowDark {
  color: white;
}

.arrowLight {
  color: black;
}

.arrowContainer {
  position: fixed;
  top: 70px;
  left: 30px;    
  z-index: 1000; 
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;

  @media (min-width: 768px) {
    top: 120px;   
  }
}

.backText {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: #E18EEC; 
  transform: translateX(20px);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.arrowContainer:hover .backText {
  opacity: 1; /* Make the text visible on hover */
  transform: translateX(0);
}

.darkArrow, .lightArrow {
  font-size: 22px;
  padding: 14px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer !important;
  transition: outline 0.3s ease-in-out;
}

.darkArrow {
  background-color: #1c2a4d;
  color: #C7C7C8;
}

.lightArrow {
  background-color: #C7C7C8;
  color: black;
}

.darkArrow:hover, .lightArrow:hover {
  outline: 1px solid #E18EEC;
  color: #E18EEC;
}

.toggleContainer {
  position: fixed;
  top: 85px;   
  z-index: 1000; 
  
  @media (max-width: 767px) {
    right: 30px;
  }

  @media (min-width: 768px) {
    top: 40%;   
  }
}

.content {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* padding: 0px 120px; */
  align-self: center;

  @media (max-width: 767px) {
    margin-bottom: 130px;
  }
}

.darkHeader, .lightHeader {
  font-family: "Poppins", Sans-serif;
  font-weight: 600;
  font-size: 45px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 768px) {
    font-size: 55px;  
  }
}

.darkHeader {
  color: white;
}

.lightHeader {
  color: #0F172A;
}

.repo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  /* font-style: italic; */
  color: #E18EEC;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out;
  width: max-content;
}

.repo:hover {
  color: #e18eecb8;
}

.repoIcon {
  font-size: 25px;
}

.subHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 100%; */
  margin-top: 30px;
  gap: 40px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 140px;
    margin-top: 80px;
  }
}

.darkDescription, .lightDescription {
  font-family: "Poppins", Sans-serif;
  font-weight: 500;
  font-size: 16px;
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
  }
}

.darkDescription a, .lightDescription a {
  cursor: pointer !important;
  transition: all 0.3s ease-in-out;
}

.darkDescription a {
  color: white;
}

.lightDescription a {
  color: #8b8b8b;
}

.darkDescription a:hover {
  /* font-weight: 600; */
  color: white;
}

.lightDescription a:hover {
  /* font-weight: 600; */
  color: #C6C5C6;
}

.darkDescription {
  color: #C6C5C6;
}

.lightDescription {
  color: #0F172A;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  
  @media (max-width: 767px) {
    order: -1;
  }
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(136,136,136,.65);
  padding-top: 15px;
}

.darkDetailsHeader, .lightDetailsHeader {
  font-family: "Poppins", Sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.darkDetailsHeader {
  color: white;
}

.lightDetailsHeader {
  color: #0F172A;
}

.darkDetails, .lightDetails {
  font-family: "Poppins", Sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.darkDetails {
  color: #C6C5C6;
}

.lightDetails {
  color: #0F172A;
}

.darkOpen, .lightOpen {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer !important;
  font-weight: 500;
}

.darkOpen:hover, .lightOpen:hover {
  color: #E18EEC;
}

.darkOpen {
  color: white;
}

.lightOpen {
  color: black;
} 

.darkLongArrow, .lightLongArrow {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.darkOpen:hover .darkLongArrow, .lightOpen:hover .lightLongArrow {
  transform: translateX(10px);
  color: #E18EEC;
}

.projectNavContainer {
  position: fixed; 
  bottom: 100px; 
  right: 20px; 
  /* z-index: 1000; */
}

.images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 80px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
}