@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');

:root {
  --background: #f0f0f0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* min-height: 100vh; */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.colours {
  color: "#2364aa";
  color: "#3da5d9";
  color: "#73bfb8";
  color: "#fad653";
  color: "#e48842";
}

@media (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) {

}

.slick-dots li button:before {
  color: gray !important;  /* Default dot color */
  font-size: 12px;  /* Adjust the size of the dots */
}

/* Style for the active dot */
.slick-dots li.slick-active button:before {
  color: #73bfb8 !important;  /* Active dot color */
}

/* Add space between the dots */
.slick-dots li {
  margin: 0 5px;
}

