.navbarContainer {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  z-index: 1005; 
  transition: all 0.3s ease;
  /* margin-bottom: 300px; */
  background-color: white !important;
}

.headerContainer {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 20px; 
  align-items: center;
  transition: all 0.3s ease;
  background-color: white; 
  z-index: 101;
}

.headerRightContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  position: relative;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.headerRightContainer a {
  display: flex;
  align-items: center;
}

.contact {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: max-content;
}

.contact:hover {
  color: #2364aa;
}

.shrink {
  height: 80px; 
  width: 100%;
  background-color: white;
}

.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: black;
}

.shrinkedHeader {
  scale: 0.6;
}

.header span {
  font-family: "Montserrat", sans-serif;
  color: black;
}

.header span:first-child {
  font-size: 25px;
  font-weight: 400;
  color: black;
}

.header span:last-child {
  font-size: 40px;
  font-family: "Arapey", serif;
  font-weight: 600;
  color: black;
}

.headerText {
  margin-top: 10px;
  font-style: italic;
}

.instaLogo {
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: black;
}

.instaLogo:hover {
  color: #2364aa;
}

.admin {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    right: 200px;
  }

  @media (max-width: 767px) {
    left: 50px;
    top: 10px;
  }
}

.dashboard {
  transition: all 0.3s ease-in-out;
  font-size: 14px;
}

.dashboard:hover {
  color: #73bfb8;
}

.button {
  background-color: #73bfb8;
  color: white;
  border: solid 1px #ccc;
  font-size: 14px;
  padding: 4px 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.button:hover {
  color: #73bfb8;
  background-color: white;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  font-size: 14px;
  border-top: solid 1px #73bfb8;
  border-bottom: solid 1px #73bfb8;
  justify-content: center;
  transition: all 0.6s ease; 
  background-color: white; 
  text-align: center;
  align-items: center;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

.hide {
  transform: translateY(-100%); 
  opacity: 0; 
}

.linkContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @media (min-width: 768px) {
    gap: 40px;
  }
}

.link {
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link:hover {
  color: #3da5d9;
  /* text-decoration: underline; */
}