.footer {
  /* width: 100%; */
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;

  @media (min-width: 768px) {
    padding: 40px;
  }
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: grey;
  /* font-family: 'Poppins', sans-serif; */
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
}

.icon {
  font-size: 16px;
}

.footerText {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 5px;
  }
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-right: 60px;
}

.logo, .logoDark {
  font-size: 25px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.logo {
  color: white;
}

.logoDark {
  color: #0F172A;
}

.logo:hover, .logoDark:hover {
  color: #E18EEC;
}

.arrowContainer, .arrowContainerDark {
  display: inline-flex; 
  justify-content: center;
  align-items: center;
  width: 3em ; 
  height: 3em; 
}

.arrowContainer {
  background-color: white; 
}

.arrowContainerDark {
  background-color: #f1f1f1;
}

.arrow {
  color: #E18EEC;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.arrow:hover {
  scale: 1.2;
}
