.container {
  max-width: 1000px; 
  margin: 0px auto; 
  padding: 60px 30px;
  background-color: #ffffff; 
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.topInfo {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.topInfo a {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.topInfo a:hover {
  color: #73bfb8;
}

.blogPost {
  padding: 40px 100px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  */
  border: solid 1px #f6f6f6;
}

.blogDetails {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 40px;
}

.blogDetails span, .updated {
  font-size: 14px;
}

.title {
  font-size: 2.5rem; 
  margin-bottom: 10px; 
  font-family: "Arapey", serif;
}

.introText {
  font-size: 18px; 
  line-height: 24px;
  padding: 20px 0px; 
}

.introImage {
  width: 100%; 
  height: auto; 
  /* border-radius: 8px;  */
  margin-top: 40px;
  margin-bottom: 15px;
}

.imageCaption {
  width: 100%;
  text-align: center;
  font-size: 14px;
}


.subsection {
  margin-top: 30px; 
}

.subsectionHeader {
  font-size: 22px;
  font-weight: 500; 
  margin: 20px 0; 
  color: #333; 
}

.contentText {
  font-size: 16px; 
  line-height: 1.6; 
  margin-bottom: 10px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subsectionImages {
  display: grid;               
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-items: center;
}

.subsectionImage {
  width: 100%;                 
  max-width: 250px;
  height: auto;
  border-radius: 8px;
}

.subsectionImages.two-images {
  grid-template-columns: repeat(2, 1fr);
}

.subsectionImages.two-images .subsectionImage {
  flex: 1 1 calc(50% - 10px);
}

.subsectionImages.three-images {
  grid-template-columns: repeat(3, 1fr); 
}

.subsectionImages.three-images .subsectionImage {
  flex: 1 1 calc(50% - 10px); 
  position: relative;         
}

.subsectionImages.three-images .subsectionImage:nth-child(3) {
  flex-basis: 100%;      
}


.contentBlocks {
  margin-top: 20px;
}

.contentBlock {
  margin-bottom: 15px;
}

.contentSubheader {
  font-size: 20px; 
  margin: 10px 0; 
  color: #333;
  font-weight: 500;
}

.contentList {
  list-style-type: disc;
  padding-left: 20px;
}

.listItem {
  color: red;
}



.nested-content {
  margin-top: 1em;
  background-color: #f9f9f9;
  padding: 1em;
  border-left: 4px solid #0070f3;
}

.nested-nested-blocks {
  margin-top: 1em;
  background-color: #f9f9f9;
  padding: 1em;
  border-left: 4px solid #0070f3;
}

.nested-block {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px dashed #ccc; /* Dashed border for nested blocks */
  
}

.nestedList {
  color: green;
}


.sub-item {
  margin-top: 0.5em; /* Space between sub-items */
  color: grey !important;
  
}

.nested-list {
  list-style-type: circle; /* Change bullet style for nested lists */
  padding-left: 20px; /* Indent nested items further */
}

.nested-list-item {
  margin-top: 0.5em; /* Space between nested items */
  list-style-type: none;
  color: blue;
}

