.container {
  max-width: 1000px; 
  margin: 0px auto; 
  padding: 60px 30px;
  background-color: #ffffff; 
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.topInfo {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.topInfo a {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.topInfo a:hover {
  color: #73bfb8;
}

.blogPost {
  padding: 40px 100px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  */
  border: solid 1px #f6f6f6;
}

.blogDetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.blogDetailsLeft {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* margin-bottom: 40px; */
}

.blogDetailsLeft span, .updated {
  font-size: 14px;
}

.editButton {
  background-color: #73bfb8;
  color: white;
  border: solid 1px #ccc;
  font-size: 14px;
  padding: 4px 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.editButton:hover {
  color: #73bfb8;
  background-color: white;
}

.shareButtonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.shareButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.shareMenu {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.shareIcon {
  width: 32px;
}

.linkIconContainer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 10px;
  position: relative;
}

.shareLink {
  font-size: 32px;
  background-color: #333;
  color: white;
  border-radius: 50%;
  padding: 8px;
  align-self: center;
  margin-bottom: 4px;
  cursor: pointer;
}

.copiedMessage {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  white-space: nowrap;
}

.title {
  font-size: 2.5rem; 
  margin-bottom: 10px; 
  font-family: "Arapey", serif;
}

.introText {
  font-size: 18px; 
  line-height: 24px;
  padding: 20px 0px; 
}

.introImage {
  width: 100%; 
  height: auto; 
  /* border-radius: 8px;  */
  margin-top: 40px;
  margin-bottom: 15px;
}

.introImageCaption {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

.subsection {
  margin-top: 30px; 
}

.subsectionHeader {
  font-size: 22px;
  font-weight: 500; 
  margin: 20px 0; 
  color: #333; 
}

.contentText {
  font-size: 16px; 
  line-height: 1.6; 
  margin-bottom: 10px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subsectionImages {
  display: grid;               
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-items: center;
}

.subsectionImage {
  width: 100%;                 
  max-width: 250px;
  height: auto;
  border-radius: 8px;
}

.subsectionImages.two-images {
  grid-template-columns: repeat(2, 1fr);
}

.subsectionImages.two-images .subsectionImage {
  flex: 1 1 calc(50% - 10px);
}

.subsectionImages.three-images {
  grid-template-columns: repeat(3, 1fr); 
}

.subsectionImages.three-images .subsectionImage {
  flex: 1 1 calc(50% - 10px); 
  position: relative;         
}

.subsectionImages.three-images .subsectionImage:nth-child(3) {
  flex-basis: 100%;      
}

.imageCaption {
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  font-style: italic;
}

.contentList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.listItem {

}

.nestedContentList {
  list-style-type: circle; 
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nestedListItem {

}

.nestedNestedContentList {
  list-style-type: square; 
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
  margin-top: 5px;
}

.nestedNestedListItem {
  font-size: 14px;
}

.contentBlocks {
  margin-top: 20px;
}

.contentBlock {
  margin-bottom: 20px;
}

.contentSubheader {
  font-size: 20px; 
  margin: 10px 0; 
  color: #333;
  font-weight: 500;
}








/* .nested-content {
  margin-top: 1em;
  background-color: #f9f9f9;
  padding: 1em;
  border-left: 4px solid #0070f3;
}

.nested-nested-blocks {
  margin-top: 1em;
  background-color: #f9f9f9;
  padding: 1em;
  border-left: 4px solid #0070f3;
} */

.nested-block {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px dashed #ccc; /* Dashed border for nested blocks */
  
}

y


.sub-item {
  margin-top: 0.5em; /* Space between sub-items */
  color: grey !important;
  
}

.nested-list {
  list-style-type: circle; /* Change bullet style for nested lists */
  padding-left: 20px; /* Indent nested items further */
}

.nested-list-item {
  margin-top: 0.5em; /* Space between nested items */
  /* list-style-type: none; */
  color: blue;
}

/* blog.module.css */



.subItem {
  padding-left: 20px; /* Indent for nested items */
}