.container {
  position: relative;
  width: 200px;
  height: 60px; 
  background-color: #eeeeee;
  overflow: hidden;
  transition: height 0.3s ease; 
  border-radius: 8px;
  padding: 20px 20px;

  @media (min-width: 768px) {
    background-color: white;
  }
}

.container:hover {
  height: 160px; 
}

.content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 0px;
  z-index: 2; /* Ensure the content is above the image */
  position: absolute;
  bottom: 10px;
}

.content a {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer !important;
}

.top {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  font-weight: 500;
}

.arrow {
  font-size: 18px;
  padding: 12px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.arrow:hover {
  outline: 1px solid #E18EEC;
  color: #E18EEC;
  background-color: rgba(136,136,136,.03);
}


.imageContainer {
  position: absolute;
  bottom: 100px; 
  left: 0;
  right: 0;
  height: 140px; 
  background-size: cover;
  background-position: center;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth opacity and movement */
  /* transform: translateY(100%); Push it down initially */
}

.container:hover .imageContainer {
  opacity: 1; /* Make image visible */
  transform: translateY(0); /* Move image into view */
}
